--
-- PostgreSQL database dump
--

\restrict pwexWjNUx9YZemaifOcOJNGobW9AnYSAYfknDmTql65K8exBkjwYPr3qrIymS0H

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcement" (
    id text NOT NULL,
    "authorId" text,
    "targetType" text NOT NULL,
    "targetId" text,
    title text NOT NULL,
    content text NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Announcement" OWNER TO postgres;

--
-- Name: Department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Department" (
    id text NOT NULL,
    name text NOT NULL,
    "groupId" text
);


ALTER TABLE public."Department" OWNER TO postgres;

--
-- Name: DepartmentEvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DepartmentEvaluation" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "relColleagues" double precision,
    teamwork double precision,
    "workOrg" double precision,
    "commSkills" double precision,
    "regCompliance" double precision,
    "taskQuality" double precision,
    "timeCommit" double precision,
    "orgCompliance" double precision,
    "probSolving" double precision,
    "pressureHandling" double precision,
    "contDev" double precision,
    "regAdherence" double precision,
    "safetyAdherence" double precision,
    appearance double precision,
    "resPreservation" double precision,
    "dataPrivacy" double precision,
    "totalScore" double precision,
    comments text,
    "submittedAt" timestamp(3) without time zone,
    "submittedById" text
);


ALTER TABLE public."DepartmentEvaluation" OWNER TO postgres;

--
-- Name: DirectorEvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DirectorEvaluation" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "finalScore" double precision,
    locked boolean DEFAULT false NOT NULL,
    "lockedAt" timestamp(3) without time zone,
    "submittedById" text,
    appearance double precision,
    "commSkills" double precision,
    "contDev" double precision,
    "dataPrivacy" double precision,
    "orgCompliance" double precision,
    "pressureHandling" double precision,
    "probSolving" double precision,
    "regAdherence" double precision,
    "regCompliance" double precision,
    "relColleagues" double precision,
    "resPreservation" double precision,
    "safetyAdherence" double precision,
    "taskQuality" double precision,
    teamwork double precision,
    "timeCommit" double precision,
    "workOrg" double precision
);


ALTER TABLE public."DirectorEvaluation" OWNER TO postgres;

--
-- Name: Employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employee" (
    id text NOT NULL,
    "fullName" text NOT NULL,
    email text,
    role text DEFAULT 'EMPLOYEE'::text NOT NULL,
    "departmentId" text,
    "groupId" text NOT NULL,
    "baseSalary" double precision DEFAULT 0 NOT NULL,
    "joinDate" timestamp(3) without time zone NOT NULL,
    "staffId" text,
    "contractEndDate" timestamp(3) without time zone,
    "contractStartDate" timestamp(3) without time zone,
    "contractStatus" text,
    "contractType" text,
    "holidaysUsed" double precision DEFAULT 0 NOT NULL,
    "bonusHolidays" double precision DEFAULT 0 NOT NULL,
    "userId" text,
    "unitId" text,
    "position" text,
    "contractNumber" text,
    "emergencyHolidaysUsed" double precision DEFAULT 0 NOT NULL,
    "fullNameArabic" text,
    "jobCategory" text,
    "jobGrade" text,
    nationality text,
    "passportNumber" text,
    "unpaidHolidaysUsed" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."Employee" OWNER TO postgres;

--
-- Name: EvaluationPeriod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EvaluationPeriod" (
    id text NOT NULL,
    month text NOT NULL,
    "departmentId" text,
    enabled boolean DEFAULT false NOT NULL,
    "enabledById" text,
    "enabledAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text
);


ALTER TABLE public."EvaluationPeriod" OWNER TO postgres;

--
-- Name: Group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Group" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Group" OWNER TO postgres;

--
-- Name: HREvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."HREvaluation" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "absenceUnauthorized" integer DEFAULT 0 NOT NULL,
    "delayMinutes" integer DEFAULT 0 NOT NULL,
    "emergencyLeaves" integer DEFAULT 0 NOT NULL,
    "unpaidLeaves" integer DEFAULT 0 NOT NULL,
    "annualPaidLeaves" integer DEFAULT 0 NOT NULL,
    "absenceScore" double precision,
    "delayScore" double precision,
    "emergencyScore" double precision,
    "unpaidScore" double precision,
    "violationScore" double precision,
    "presenceScore" double precision,
    status text DEFAULT 'draft'::text NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    "submittedById" text
);


ALTER TABLE public."HREvaluation" OWNER TO postgres;

--
-- Name: LeaveRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LeaveRequest" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "startTime" text,
    "endTime" text,
    reason text,
    "managerNote" text,
    "hrNote" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deptApprovedById" text,
    "directorApprovedById" text,
    "unitApprovedById" text
);


ALTER TABLE public."LeaveRequest" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    link text,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: PayrollResult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PayrollResult" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "totalHours" double precision DEFAULT 0 NOT NULL,
    overtime double precision DEFAULT 0 NOT NULL,
    absences integer DEFAULT 0 NOT NULL,
    "hrPresenceScore" double precision,
    "hrAbsenceDays" integer DEFAULT 0 NOT NULL,
    "hrDelayMinutes" integer DEFAULT 0 NOT NULL,
    "adminScore" double precision,
    "executiveScore" double precision,
    "careScore" double precision,
    "deptPerformance" double precision,
    "deptDiscipline" double precision,
    "departmentScore" double precision,
    "directorLeadership" double precision,
    "directorImpact" double precision,
    "directorScore" double precision,
    "personnelScore" double precision,
    "personnelDeductionDays" double precision,
    "personnelBonusDays" double precision,
    "trainingSummary" text,
    "finalScore" double precision NOT NULL,
    "finalSalary" double precision NOT NULL,
    "csvGenerated" boolean DEFAULT false NOT NULL,
    "generatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    appearance double precision,
    "commSkills" double precision,
    "contDev" double precision,
    "dataPrivacy" double precision,
    "hrAnnualPaidLeaves" integer DEFAULT 0 NOT NULL,
    "hrEmergencyDays" integer DEFAULT 0 NOT NULL,
    "hrUnpaidLeaves" integer DEFAULT 0 NOT NULL,
    "orgCompliance" double precision,
    "pressureHandling" double precision,
    "probSolving" double precision,
    "regAdherence" double precision,
    "regCompliance" double precision,
    "relColleagues" double precision,
    "resPreservation" double precision,
    "safetyAdherence" double precision,
    "taskQuality" double precision,
    teamwork double precision,
    "timeCommit" double precision,
    "workOrg" double precision
);


ALTER TABLE public."PayrollResult" OWNER TO postgres;

--
-- Name: PersonnelEvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PersonnelEvaluation" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "warningMessages" integer DEFAULT 0 NOT NULL,
    "disciplinaryDeduction" integer DEFAULT 0 NOT NULL,
    "appreciationMessages" integer DEFAULT 0 NOT NULL,
    "exceptionalAssignments" integer DEFAULT 0 NOT NULL,
    "specializedTraining" boolean DEFAULT false NOT NULL,
    "supportingTraining" boolean DEFAULT false NOT NULL,
    "languageTraining" boolean DEFAULT false NOT NULL,
    "softwareTraining" boolean DEFAULT false NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "submittedById" text
);


ALTER TABLE public."PersonnelEvaluation" OWNER TO postgres;

--
-- Name: StaffTask; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StaffTask" (
    id text NOT NULL,
    "authorId" text,
    "assigneeId" text,
    "departmentId" text,
    title text NOT NULL,
    content text,
    deadline timestamp(3) without time zone,
    priority text DEFAULT 'NORMAL'::text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."StaffTask" OWNER TO postgres;

--
-- Name: TimeRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TimeRecord" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "assignedHours" double precision DEFAULT 0 NOT NULL,
    "workedHours" double precision DEFAULT 0 NOT NULL,
    "overtimeHours" double precision DEFAULT 0 NOT NULL,
    absences integer DEFAULT 0 NOT NULL,
    "lateMinutes" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."TimeRecord" OWNER TO postgres;

--
-- Name: Unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Unit" (
    id text NOT NULL,
    name text NOT NULL,
    "departmentId" text NOT NULL
);


ALTER TABLE public."Unit" OWNER TO postgres;

--
-- Name: UnitEvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UnitEvaluation" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    month text NOT NULL,
    "relColleagues" double precision,
    teamwork double precision,
    "workOrg" double precision,
    "commSkills" double precision,
    "regCompliance" double precision,
    "taskQuality" double precision,
    "timeCommit" double precision,
    "orgCompliance" double precision,
    "probSolving" double precision,
    "pressureHandling" double precision,
    "contDev" double precision,
    "regAdherence" double precision,
    "safetyAdherence" double precision,
    appearance double precision,
    "resPreservation" double precision,
    "dataPrivacy" double precision,
    "totalScore" double precision,
    comments text,
    "submittedAt" timestamp(3) without time zone,
    "submittedById" text
);


ALTER TABLE public."UnitEvaluation" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "fullName" text,
    role text NOT NULL,
    "departmentId" text,
    "groupId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "departmentIds" text[] DEFAULT ARRAY[]::text[],
    "unitId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Announcement" (id, "authorId", "targetType", "targetId", title, content, "expiryDate", "createdAt") FROM stdin;
\.


--
-- Data for Name: Department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Department" (id, name, "groupId") FROM stdin;
default-dept-id	HR Department	default-group-id
ae4f1567-1325-4c24-92b4-170c0b8d05c1	BDSD	default-group-id
\.


--
-- Data for Name: DepartmentEvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DepartmentEvaluation" (id, "employeeId", month, "relColleagues", teamwork, "workOrg", "commSkills", "regCompliance", "taskQuality", "timeCommit", "orgCompliance", "probSolving", "pressureHandling", "contDev", "regAdherence", "safetyAdherence", appearance, "resPreservation", "dataPrivacy", "totalScore", comments, "submittedAt", "submittedById") FROM stdin;
46e227d6-16b4-44b1-89ec-ba66405041be	a67a2387-700b-4e08-a715-bc1fbfc636c7	2026-03	5	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	5		2026-03-24 20:45:18.244	fe156c64-c6d6-4bdf-8c8d-105530165a0d
\.


--
-- Data for Name: DirectorEvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DirectorEvaluation" (id, "employeeId", month, "finalScore", locked, "lockedAt", "submittedById", appearance, "commSkills", "contDev", "dataPrivacy", "orgCompliance", "pressureHandling", "probSolving", "regAdherence", "regCompliance", "relColleagues", "resPreservation", "safetyAdherence", "taskQuality", teamwork, "timeCommit", "workOrg") FROM stdin;
\.


--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EvaluationPeriod; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EvaluationPeriod" (id, month, "departmentId", enabled, "enabledById", "enabledAt", notes) FROM stdin;
\.


--
-- Data for Name: Group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Group" (id, name) FROM stdin;
default-group-id	IPH Holding
\.


--
-- Data for Name: HREvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."HREvaluation" (id, "employeeId", month, "absenceUnauthorized", "delayMinutes", "emergencyLeaves", "unpaidLeaves", "annualPaidLeaves", "absenceScore", "delayScore", "emergencyScore", "unpaidScore", "violationScore", "presenceScore", status, "submittedAt", "submittedById") FROM stdin;
\.


--
-- Data for Name: LeaveRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LeaveRequest" (id, "employeeId", "userId", type, "startDate", "endDate", "startTime", "endTime", reason, "managerNote", "hrNote", status, "createdAt", "updatedAt", "deptApprovedById", "directorApprovedById", "unitApprovedById") FROM stdin;
9e9f3681-f1a8-4981-9c43-c0407499b22d	5e952c4e-9764-4607-a745-b81a816f8ee4	a98cc91b-63b1-4a4a-847b-b303bcf750c2	LATE_COMING	2026-03-24 00:00:00	\N	12:30	12:31	seelping		\N	REJECTED	2026-03-24 19:25:15.545	2026-03-24 19:25:39.941	\N	\N	\N
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, "userId", title, content, link, "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: PayrollResult; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PersonnelEvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PersonnelEvaluation" (id, "employeeId", month, "warningMessages", "disciplinaryDeduction", "appreciationMessages", "exceptionalAssignments", "specializedTraining", "supportingTraining", "languageTraining", "softwareTraining", "submittedAt", "submittedById") FROM stdin;
\.


--
-- Data for Name: StaffTask; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StaffTask" (id, "authorId", "assigneeId", "departmentId", title, content, deadline, priority, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: TimeRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TimeRecord" (id, "employeeId", month, "assignedHours", "workedHours", "overtimeHours", absences, "lateMinutes", status, "updatedAt") FROM stdin;
\.


--
-- Data for Name: Unit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Unit" (id, name, "departmentId") FROM stdin;
91a03cbd-060d-433d-b424-ebb975cc23ba	ITU	ae4f1567-1325-4c24-92b4-170c0b8d05c1
aa019781-f35b-4b1c-8d15-e44a2a4cc455	PRD	ae4f1567-1325-4c24-92b4-170c0b8d05c1
05eb3f4d-9c61-462d-908a-68212f098072	MED	ae4f1567-1325-4c24-92b4-170c0b8d05c1
7d37d766-9fea-45ef-9ce7-041d5f925094	EMU	default-dept-id
\.


--
-- Data for Name: UnitEvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UnitEvaluation" (id, "employeeId", month, "relColleagues", teamwork, "workOrg", "commSkills", "regCompliance", "taskQuality", "timeCommit", "orgCompliance", "probSolving", "pressureHandling", "contDev", "regAdherence", "safetyAdherence", appearance, "resPreservation", "dataPrivacy", "totalScore", comments, "submittedAt", "submittedById") FROM stdin;
6fc54c6e-46d6-4960-89c4-f88f3ff31cf7	a67a2387-700b-4e08-a715-bc1fbfc636c7	2026-03	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0		2026-03-24 20:45:11.144	fe156c64-c6d6-4bdf-8c8d-105530165a0d
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Announcement Announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_pkey" PRIMARY KEY (id);


--
-- Name: DepartmentEvaluation DepartmentEvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentEvaluation"
    ADD CONSTRAINT "DepartmentEvaluation_pkey" PRIMARY KEY (id);


--
-- Name: Department Department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Department"
    ADD CONSTRAINT "Department_pkey" PRIMARY KEY (id);


--
-- Name: DirectorEvaluation DirectorEvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectorEvaluation"
    ADD CONSTRAINT "DirectorEvaluation_pkey" PRIMARY KEY (id);


--
-- Name: Employee Employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_pkey" PRIMARY KEY (id);


--
-- Name: EvaluationPeriod EvaluationPeriod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EvaluationPeriod"
    ADD CONSTRAINT "EvaluationPeriod_pkey" PRIMARY KEY (id);


--
-- Name: Group Group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Group"
    ADD CONSTRAINT "Group_pkey" PRIMARY KEY (id);


--
-- Name: HREvaluation HREvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HREvaluation"
    ADD CONSTRAINT "HREvaluation_pkey" PRIMARY KEY (id);


--
-- Name: LeaveRequest LeaveRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PayrollResult PayrollResult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayrollResult"
    ADD CONSTRAINT "PayrollResult_pkey" PRIMARY KEY (id);


--
-- Name: PersonnelEvaluation PersonnelEvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PersonnelEvaluation"
    ADD CONSTRAINT "PersonnelEvaluation_pkey" PRIMARY KEY (id);


--
-- Name: StaffTask StaffTask_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StaffTask"
    ADD CONSTRAINT "StaffTask_pkey" PRIMARY KEY (id);


--
-- Name: TimeRecord TimeRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TimeRecord"
    ADD CONSTRAINT "TimeRecord_pkey" PRIMARY KEY (id);


--
-- Name: UnitEvaluation UnitEvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UnitEvaluation"
    ADD CONSTRAINT "UnitEvaluation_pkey" PRIMARY KEY (id);


--
-- Name: Unit Unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Unit"
    ADD CONSTRAINT "Unit_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Employee_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_email_key" ON public."Employee" USING btree (email);


--
-- Name: Employee_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_userId_key" ON public."Employee" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Announcement Announcement_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcement"
    ADD CONSTRAINT "Announcement_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DepartmentEvaluation DepartmentEvaluation_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentEvaluation"
    ADD CONSTRAINT "DepartmentEvaluation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DepartmentEvaluation DepartmentEvaluation_submittedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DepartmentEvaluation"
    ADD CONSTRAINT "DepartmentEvaluation_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DirectorEvaluation DirectorEvaluation_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectorEvaluation"
    ADD CONSTRAINT "DirectorEvaluation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DirectorEvaluation DirectorEvaluation_submittedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DirectorEvaluation"
    ADD CONSTRAINT "DirectorEvaluation_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public."Group"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Employee Employee_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public."Unit"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Employee Employee_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EvaluationPeriod EvaluationPeriod_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EvaluationPeriod"
    ADD CONSTRAINT "EvaluationPeriod_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EvaluationPeriod EvaluationPeriod_enabledById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EvaluationPeriod"
    ADD CONSTRAINT "EvaluationPeriod_enabledById_fkey" FOREIGN KEY ("enabledById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: HREvaluation HREvaluation_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HREvaluation"
    ADD CONSTRAINT "HREvaluation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: HREvaluation HREvaluation_submittedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."HREvaluation"
    ADD CONSTRAINT "HREvaluation_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_deptApprovedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_deptApprovedById_fkey" FOREIGN KEY ("deptApprovedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_directorApprovedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_directorApprovedById_fkey" FOREIGN KEY ("directorApprovedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LeaveRequest LeaveRequest_unitApprovedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_unitApprovedById_fkey" FOREIGN KEY ("unitApprovedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LeaveRequest LeaveRequest_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LeaveRequest"
    ADD CONSTRAINT "LeaveRequest_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PayrollResult PayrollResult_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayrollResult"
    ADD CONSTRAINT "PayrollResult_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PersonnelEvaluation PersonnelEvaluation_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PersonnelEvaluation"
    ADD CONSTRAINT "PersonnelEvaluation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PersonnelEvaluation PersonnelEvaluation_submittedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PersonnelEvaluation"
    ADD CONSTRAINT "PersonnelEvaluation_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StaffTask StaffTask_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StaffTask"
    ADD CONSTRAINT "StaffTask_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StaffTask StaffTask_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StaffTask"
    ADD CONSTRAINT "StaffTask_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StaffTask StaffTask_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StaffTask"
    ADD CONSTRAINT "StaffTask_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TimeRecord TimeRecord_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TimeRecord"
    ADD CONSTRAINT "TimeRecord_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UnitEvaluation UnitEvaluation_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UnitEvaluation"
    ADD CONSTRAINT "UnitEvaluation_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UnitEvaluation UnitEvaluation_submittedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UnitEvaluation"
    ADD CONSTRAINT "UnitEvaluation_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Unit Unit_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Unit"
    ADD CONSTRAINT "Unit_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public."Department"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict pwexWjNUx9YZemaifOcOJNGobW9AnYSAYfknDmTql65K8exBkjwYPr3qrIymS0H

